<h2 class="h3">Connections</h2>
<ul class="aside-module--list">

<li><a href="http://www.ma-online.org" title="MA Online">Online Meetings</a></li>
<li><a href="http://www.marijuana-anonymous.org/meetings/phone-meetings" title="MA Phone Meetings">Phone Meetings</a></li>
<li><a href="http://forum.marijuana-anonymous.org/" title="MA Connection Forum">MA Forums</a></li>
<li><a href="https://www.marijuana-anonymous.org/" title="MAWS">Marijuana Anonymous World Services</a></li>
<li><a href="https://play.google.com/store/apps/details?id=org.marijuana_anonymous.MA_Mobile" title'"ma="" android="" app"="">MA App for Android</a></li>
<li><a href="http://mawsconvention.org/" title="MA Convention">MA Convention</a></li>

</ul>
