<h2 class="h3">A New Leaf</h2>
<ul class="aside-module--list">

<li><a href="http://www.marijuana-anonymous.org/literature/newsletter/talk-to-the-roving-reporter" title="A New Leaf Roving Reporter">Roving Reporter</a></li>
<li><a href="http://www.marijuana-anonymous.org/literature/newsletter/submit-a-story" title="Submit a Story to A New Leaf">Submit a Story</a></li>
<li><a href="http://www.marijuana-anonymous.org/literature/newsletter/submit-anniversary-birthday" title="Submit a Sober Anniversary to A New Leaf">Submit a Birthday</a></li>

</ul>
