      <a href="//twitter.com/catalinred" rel="me nofollow">
        <i class="fa fa-twitter fa-2x"></i>
        <span class="visually-hidden">Twitter</span>
      </a>
      <a href="//github.com/catalinred" rel="me nofollow">
        <i class="fa fa-github fa-2x"></i>
        <span class="visually-hidden">GitHub</span>
      </a>
      <a href="//facebook.com/RedTeamDesign" rel="me nofollow">
        <i class="fa fa-facebook fa-2x"></i>
        <span class="visually-hidden">Facebook</span>
      </a>
      <a href="//plus.google.com/u/0/114910105297465575018" rel="me nofollow">
        <i class="fa fa-google-plus fa-2x"></i>
        <span class="visually-hidden">Google+</span>
      </a>
      <a href="//feeds.feedburner.com/redteamdesign" rel="me nofollow">
        <i class="fa fa-rss fa-2x"></i>
        <span class="visually-hidden">RSS</span>
      </a>
      <a href="//dribbble.com/catalinred" rel="me nofollow">
        <i class="fa fa-dribbble fa-2x"></i>
        <span class="visually-hidden">Dribbble</span>
      </a>
      <a href="//instagram.com/catalinred" rel="me nofollow">
        <i class="fa fa-instagram fa-2x"></i>
        <span class="visually-hidden">Instagram</span>
      </a>
      <a href="//linkedin.com/in/catalinred" rel="me nofollow">
        <i class="fa fa-linkedin fa-2x"></i>
        <span class="visually-hidden">LinkedIn</span>
      </a>
      <hr>
      &copy; {{ site.time | date: '%Y' }} Catalin Rosu. Feel free to use the articles you may find here in your projects, with or without any attribution.
