---
navigation:
- text: Announcements
  url: /news/
- text: Meetings
  url: /meetings/
- text: About
  url: /about/
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <title>{{ page.title | xml_escape }}</title>
    <meta name="description" content="{{ page.description }}">
    <!-- meta name="google-site-verification" content="C5zdBQFWWh6uslnkcC0u_F5av9GyYt90auGayV4ELbM" -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/no-sass.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
    <link href='http://fonts.googleapis.com/css?family=Dosis:800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<!-- link rel="alternate" type="application/rss+xml" href="//feeds.feedburner.com/redteamdesign">
	<link rel="author" href="//plus.google.com/114910105297465575018/posts"/ -->

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <!-- 
  digitalRoots
   -->
  <body>
  
  <header role="banner" class="top-header">
    <div class="container">
      <div class="grid">
        <div class="grid__col--30">
          <a href="/" class="rtd-logo">
            {{ site.name }}
          </a>
        </div>
        <div class="grid__col--70">
          <nav role="navigation" class="rtd-nav">
            <a class="visually-hidden" href="#content">Skip to content</a>
            <ul>
              {% for link in page.navigation %}
                {% assign current = nil %}
                {% assign url = page.url|remove:'index.html' %}
                {% if url == link.url %}
                  {% assign current = 'current' %}
                {% endif %}
                <li class="{{ current }}">
                  <a href="{{ site.baseurl }}{{ link.url }}">{{ link.text }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <div class="master-header">
    <div class="container">
      <h1 class="master-head--title">
{% if page.tagline %}
{{ page.tagline | xml_escape }}
{% else %}
{{ page.title | xml_escape }}
{% endif %}
      </h1>
    </div>
  </div>    

  <div class="master-content">
    <div class="container">
      <div class="grid">
        <section class="grid__col--60 grid__col--push10" role="main" id="content">
          {{ content }}
        </section>
        <aside class="grid__col--30" role="complementary">
          <div class="aside-module">
            {% include aside1.html %}
          </div>
          <div class="aside-module">
            {% include aside2.html %}
          </div>
          <div class="aside-module">
            {% include aside3.html %}
          </div>
        </aside>
      </div>
    </div>
  </div>

  <footer role="contentinfo" class="master-footer text-center">
    <div class="container">
      {% include footer.html %}
    </div>
  </footer>

  <!-- script src="/js/common.js"></script -->

  </body>
</html>
